{
    "Values": {
        "cosmosDb": "mongodb://YOURCONNECTIONSTRING.documents.azure.com:10255/?ssl=true",
        "dbString": "things",
        "collectionString": "things",
        "twilioSid": "Your Twilio SID",
        "twilioAuthToken": "Your Twilio Auth Token",
        "tempNumber": "+YOURPHONENUMBER"
    }
}