#define SECRET_SSID "YOUR WIFI SSID"
#define SECRET_PASS "YOUR WIFI PASSWORD"
#define AZURE_HOST "YOURNLB.azure-devices.net"
#define AZURE_SAS "SharedAccessSignature sr=..."
#define THING "thingName"
#define FAMILY "familyName"
